# Entorno virtual
.venv/
venv/

# Variables sensibles
.env
.env.*

# Base de datos
db.sqlite3
*.sqlite3

# Python
__pycache__/
*.pyc

# Archivos Django
staticfiles/
media/

# IDE
.vscode/
.idea/

# Logs
*.log